<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itcase.project.Dao.TomCookieMapper">
    <resultMap id="BaseResultMap" type="com.itcase.project.enetity.TomCookie">
        <id column="tom_id" jdbcType="BIGINT" property="tomId"/>
        <result column="cookie_id" jdbcType="BIGINT" property="cId" />
        <result column="cookie_name" jdbcType="VARCHAR" property="cName" />
        <result column="cookie_introduce" jdbcType="VARCHAR" property="cIntroduce" />
        <result column="cookie_img_path" jdbcType="VARCHAR" property="cImagePath" />
        <result column="cookie_other" jdbcType="VARCHAR" property="cOther" />
        <result column="cookie_type" jdbcType="VARCHAR" property="cType"/>
        <result column="cookie_creatime" jdbcType="VARCHAR" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    tom_id,cookie_id, cookie_name, cookie_introduce, cookie_img_path, cookie_other,cookie_type,cookie_creatime
    </sql>




    <delete id="deleteCookieById" parameterType="java.lang.Integer">
    delete from work_tomcookie
    where tom_id = #{id,jdbcType=BIGINT}
  </delete>

    <select id="getByCondition" resultMap="BaseResultMap" >
        select * from work_tomcookie where cookie_creatime = #{time,jdbcType=VARCHAR} limit 0,#{end,jdbcType=BIGINT}
    </select>

    <!--
    <insert id="insertCookie" parameterType="com.vipkid.lp.student.provider.entity.Cookie">
    insert into COOKIE_INFO (cookie_id, cookie_name, cookie_introduce,
      cookie_img_path, cookie_other
      )
    values (#{cId,jdbcType=BIGINT}, #{cName,jdbcType=VARCHAR}, #{cIntroduce,jdbcType=VARCHAR},
      #{cImagePath,jdbcType=VARCHAR}, #{cOther,jdbcType=VARCHAR}
      )
  </insert>
  -->

    <insert id="batchCookie" parameterType="com.itcase.project.enetity.TomCookie" useGeneratedKeys="true" keyColumn="tom_id" >
        insert into work_tomcookie values
        <foreach collection="list" index="index" item="item" separator="," open="" close="">
            (#{item.tomId},#{item.cId},#{item.cName},#{item.cIntroduce},#{item.cImagePath},#{item.cOther},#{item.cType},#{item.createTime})
        </foreach>

    </insert>
    <select id="selectCookieByTime" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from work_tomcookie where cookie_creatime = #{time,jdbcType=VARCHAR}
    </select>

    <select id="selectByPara" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List" />
        from work_tomcookie where cookie_creatime = #{dayTime,jdbcType=VARCHAR}
        <if test="type!='all'">
            and cookie_type = #{type,jdbcType=VARCHAR}
        </if>
        limit ${map.start} , ${map.end}
    </select>

    <select id="getTotal" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(*) from work_tomcookie
        <if test="type!='all'">
            where cookie_type = #{type,jdbcType=VARCHAR}
        </if>
    </select>

    <select id="getTotalByTime" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(*) from work_tomcookie
        where cookie_creatime = #{time,jdbcType=VARCHAR}
        <if test="type!='all'">
            and cookie_type = #{type,jdbcType=VARCHAR}
        </if >

    </select>


</mapper>